.editor-wrapper{
  position: relative;
  height: 100%;
  width: calc(100% - 10px); /* leave width of 10px for the resize handle */
}

.editor-wrapper .button-format {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.3s;
}

.editor-wrapper:hover .button-format{
  opacity: 1.0; 
}
/* Opacity changes from 0 to 1 when the user hovers after 0.3s
   as defined in the transition
*/